body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    border-radius: 8px;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: #222;
    color: white;
}
